<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<option>
    <!-- ko text: address().lastname --><!-- ko text: address().firstname --><!-- /ko --> <!-- /ko -->,
    <!-- ko text: address().street --><!-- /ko -->,
    <!-- ko text: address().city --><!-- /ko -->, <!-- ko text: address().region --><!-- /ko --> <!-- ko text: address().postcode --><!-- /ko -->,
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko -->,


</option>
